{% extends "base.html" %}

{% block content %}

<h1>您好 <span class="text-primary">{{ user.username }}</span></h1>

<hr>

<img src="{{ user.avatar }}" width="100px">
<hr>

<div><strong>性别</strong>:
    {% if user.gender == 'male' %}
    小哥哥
    {% elif user.gender == 'female' %}
    小姐姐
    {% else %}
    保密
    {% endif %}
</div>
<hr>

<div><strong>生日</strong>: {{ user.birthday }}</div>
<hr>

<div><strong>常居地</strong>: {{ user.location }}</div>
<hr>

<div><strong>个人简介</strong>: {{ user.bio }}</div>
<hr>

<div><strong>注册时间</strong>: {{ user.created }}</div>
<hr>

<a class="btn btn-success" href="/user/update">修改个人资料</a>
{% endblock %}
